sudo: required
dist: trusty
addons:
    postgresql: "9.5"
services:
    - postgresql
language: node_js
node_js:
  - "12"
  - "10"
  - "8"
before_script:
  - psql -c 'create database pgboss' -U postgres
  - psql -c 'create extension pgcrypto' --database=pgboss -U postgres
script:
  - npm run forcover
