services:
  db:
    image: postgres:18
    ports:
      - 5432:5432
    volumes:
      - db_volume:/var/lib/postgresql/data18
    environment:
      - POSTGRES_DB=pgboss
      - POSTGRES_NAME=pgboss
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command: -c 'max_connections=400'

  cockroachdb:
    image: cockroachdb/cockroach:latest
    ports:
      - 26257:26257
      - 8080:8080
    volumes:
      - cockroach_volume:/cockroach/cockroach-data
    command: start-single-node --insecure --advertise-addr=localhost

volumes:
  db_volume:
  cockroach_volume:
